<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>あ</key>
	<string>ｱ</string>
	<key>ぁ</key>
	<string>ｧ</string>
	<key>い</key>
	<string>ｲ</string>
	<key>ぃ</key>
	<string>ｨ</string>
	<key>う</key>
	<string>ｳ</string>
	<key>ゔ</key>
	<string>ｳﾞ</string>
	<key>ぅ</key>
	<string>ｩ</string>
	<key>え</key>
	<string>ｴ</string>
	<key>ぇ</key>
	<string>ｪ</string>
	<key>お</key>
	<string>ｵ</string>
	<key>ぉ</key>
	<string>ｫ</string>
	<key>か</key>
	<string>ｶ</string>
	<key>が</key>
	<string>ｶﾞ</string>
	<key>き</key>
	<string>ｷ</string>
	<key>ぎ</key>
	<string>ｷﾞ</string>
	<key>く</key>
	<string>ｸ</string>
	<key>ぐ</key>
	<string>ｸﾞ</string>
	<key>け</key>
	<string>ｹ</string>
	<key>げ</key>
	<string>ｹﾞ</string>
	<key>こ</key>
	<string>ｺ</string>
	<key>ご</key>
	<string>ｺﾞ</string>
	<key>さ</key>
	<string>ｻ</string>
	<key>ざ</key>
	<string>ｻﾞ</string>
	<key>し</key>
	<string>ｼ</string>
	<key>じ</key>
	<string>ｼﾞ</string>
	<key>す</key>
	<string>ｽ</string>
	<key>ず</key>
	<string>ｽﾞ</string>
	<key>せ</key>
	<string>ｾ</string>
	<key>ぜ</key>
	<string>ｾﾞ</string>
	<key>そ</key>
	<string>ｿ</string>
	<key>ぞ</key>
	<string>ｿﾞ</string>
	<key>た</key>
	<string>ﾀ</string>
	<key>だ</key>
	<string>ﾀﾞ</string>
	<key>ち</key>
	<string>ﾁ</string>
	<key>ぢ</key>
	<string>ﾁﾞ</string>
	<key>つ</key>
	<string>ﾂ</string>
	<key>づ</key>
	<string>ﾂﾞ</string>
	<key>て</key>
	<string>ﾃ</string>
	<key>で</key>
	<string>ﾃﾞ</string>
	<key>と</key>
	<string>ﾄ</string>
	<key>ど</key>
	<string>ﾄﾞ</string>
	<key>な</key>
	<string>ﾅ</string>
	<key>に</key>
	<string>ﾆ</string>
	<key>ぬ</key>
	<string>ﾇ</string>
	<key>ね</key>
	<string>ﾈ</string>
	<key>の</key>
	<string>ﾉ</string>
	<key>は</key>
	<string>ﾊ</string>
	<key>ば</key>
	<string>ﾊﾞ</string>
	<key>ぱ</key>
	<string>ﾊﾟ</string>
	<key>ひ</key>
	<string>ﾋ</string>
	<key>び</key>
	<string>ﾋﾞ</string>
	<key>ぴ</key>
	<string>ﾋﾟ</string>
	<key>ふ</key>
	<string>ﾌ</string>
	<key>ぶ</key>
	<string>ﾌﾞ</string>
	<key>ぷ</key>
	<string>ﾌﾟ</string>
	<key>へ</key>
	<string>ﾍ</string>
	<key>べ</key>
	<string>ﾍﾞ</string>
	<key>ぺ</key>
	<string>ﾍﾟ</string>
	<key>ほ</key>
	<string>ﾎ</string>
	<key>ぼ</key>
	<string>ﾎﾞ</string>
	<key>ぽ</key>
	<string>ﾎﾟ</string>
	<key>ま</key>
	<string>ﾏ</string>
	<key>み</key>
	<string>ﾐ</string>
	<key>む</key>
	<string>ﾑ</string>
	<key>め</key>
	<string>ﾒ</string>
	<key>も</key>
	<string>ﾓ</string>
	<key>や</key>
	<string>ﾔ</string>
	<key>ゃ</key>
	<string>ｬ</string>
	<key>ゆ</key>
	<string>ﾕ</string>
	<key>ゅ</key>
	<string>ｭ</string>
	<key>よ</key>
	<string>ﾖ</string>
	<key>ょ</key>
	<string>ｮ</string>
	<key>ら</key>
	<string>ﾗ</string>
	<key>り</key>
	<string>ﾘ</string>
	<key>る</key>
	<string>ﾙ</string>
	<key>れ</key>
	<string>ﾚ</string>
	<key>ろ</key>
	<string>ﾛ</string>
	<key>わ</key>
	<string>ﾜ</string>
	<key>を</key>
	<string>ｦ</string>
	<key>ん</key>
	<string>ﾝ</string>
</dict>
</plist>
