<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>jp.lifeaether.inputmethod.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.07</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>InputMethodConnectionName</key>
	<string>SocialIM_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>InputMethodController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>InputMethodController</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>HIra</string>
		<string>Kana</string>
		<string>Hani</string>
		<string>Latn</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>jp.lifeaether.inputmethod.kana</string>
			<string>jp.lifeaether.inputmethod.roman</string>
		</array>
		<key>tsInputModeListKey</key>
		<dict>
			<key>jp.lifeaether.inputmethod.roman</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>roman.icns</string>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>roman.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>roman.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
			<key>jp.lifeaether.inputmethod.kana</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>kana.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>kana.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>kana.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
