<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>ぬ</string>
	<key>2</key>
	<string>ふ</string>
	<key>3</key>
	<string>あ</string>
	<key>4</key>
	<string>う</string>
	<key>5</key>
	<string>え</string>
	<key>6</key>
	<string>お</string>
	<key>7</key>
	<string>や</string>
	<key>8</key>
	<string>ゆ</string>
	<key>9</key>
	<string>よ</string>
	<key>0</key>
	<string>わ</string>
	<key>-</key>
	<string>ほ</string>
	<key>^</key>
	<string>へ</string>
	<key>¥</key>
	<string>ー</string>
	<key>q</key>
	<string>た</string>
	<key>w</key>
	<string>て</string>
	<key>e</key>
	<string>い</string>
	<key>r</key>
	<string>す</string>
	<key>t</key>
	<string>か</string>
	<key>y</key>
	<string>ん</string>
	<key>u</key>
	<string>な</string>
	<key>i</key>
	<string>に</string>
	<key>o</key>
	<string>ら</string>
	<key>p</key>
	<string>せ</string>
	<key>@</key>
	<string>゛</string>
	<key>[</key>
	<string>゜</string>
	<key>a</key>
	<string>ち</string>
	<key>s</key>
	<string>と</string>
	<key>d</key>
	<string>し</string>
	<key>f</key>
	<string>は</string>
	<key>g</key>
	<string>き</string>
	<key>h</key>
	<string>く</string>
	<key>j</key>
	<string>ま</string>
	<key>k</key>
	<string>の</string>
	<key>l</key>
	<string>り</string>
	<key>;</key>
	<string>れ</string>
	<key>:</key>
	<string>け</string>
	<key>]</key>
	<string>む</string>
	<key>z</key>
	<string>つ</string>
	<key>x</key>
	<string>さ</string>
	<key>c</key>
	<string>そ</string>
	<key>v</key>
	<string>ひ</string>
	<key>b</key>
	<string>こ</string>
	<key>n</key>
	<string>み</string>
	<key>m</key>
	<string>も</string>
	<key>,</key>
	<string>ね</string>
	<key>.</key>
	<string>る</string>
	<key>/</key>
	<string>め</string>
	<key>_</key>
	<string>ろ</string>
	<key>!</key>
	<string>ぬ</string>
	<key>&quot;</key>
	<string>ふ</string>
	<key>#</key>
	<string>ぁ</string>
	<key>E</key>
	<string>ぃ</string>
	<key>$</key>
	<string>ぅ</string>
	<key>%</key>
	<string>ぇ</string>
	<key>&amp;</key>
	<string>ぉ</string>
	<key>&apos;</key>
	<string>ゃ</string>
	<key>(</key>
	<string>ゅ</string>
	<key>)</key>
	<string>ょ</string>
	<key>=</key>
	<string>ほ</string>
	<key>~</key>
	<string>へ</string>
	<key>|</key>
	<string>ー</string>
	<key>`</key>
	<string>゛</string>
	<key>{</key>
	<string>「</string>
	<key>+</key>
	<string>れ</string>
	<key>*</key>
	<string>け</string>
	<key>}</key>
	<string>」</string>
	<key>&lt;</key>
	<string>、</string>
	<key>&gt;</key>
	<string>。</string>
	<key>?</key>
	<string>・</string>
	<key>Z</key>
	<string>っ</string>
	<key>か@</key>
	<string>が</string>
	<key>き@</key>
	<string>ぎ</string>
	<key>く@</key>
	<string>ぐ</string>
	<key>け@</key>
	<string>げ</string>
	<key>こ@</key>
	<string>ご</string>
	<key>さ@</key>
	<string>ざ</string>
	<key>し@</key>
	<string>じ</string>
	<key>す@</key>
	<string>ず</string>
	<key>せ@</key>
	<string>ぜ</string>
	<key>そ@</key>
	<string>ぞ</string>
	<key>た@</key>
	<string>だ</string>
	<key>ち@</key>
	<string>ぢ</string>
	<key>つ@</key>
	<string>づ</string>
	<key>て@</key>
	<string>で</string>
	<key>と@</key>
	<string>ど</string>
	<key>は@</key>
	<string>ば</string>
	<key>ひ@</key>
	<string>び</string>
	<key>ふ@</key>
	<string>ぶ</string>
	<key>へ@</key>
	<string>べ</string>
	<key>ほ@</key>
	<string>ぼ</string>
	<key>は[</key>
	<string>ぱ</string>
	<key>ひ[</key>
	<string>ぴ</string>
	<key>ふ[</key>
	<string>ぷ</string>
	<key>へ[</key>
	<string>ぺ</string>
	<key>ほ[</key>
	<string>ぽ</string>
	<key>う@</key>
	<string>ゔ</string>
	<key>⁄</key>
	<string>！</string>
	<key>€</key>
	<string>”</string>
	<key>‹</key>
	<string>＃</string>
	<key>›</key>
	<string>＄</string>
	<key>ﬁ</key>
	<string>％</string>
	<key>ﬂ</key>
	<string>＆</string>
	<key>‡</key>
	<string>’</string>
	<key>°</key>
	<string>（</string>
	<key>·</key>
	<string>）</string>
	<key>—</key>
	<string>＝</string>
	<key>±</key>
	<string>〜</string>
	<key>”</key>
	<string>｀</string>
	<key>’</key>
	<string>｛</string>
	<key>Ú</key>
	<string>＋</string>
	<key>Æ</key>
	<string>＊</string>
	<key>»</key>
	<string>｝</string>
	<key>¯</key>
	<string>＜</string>
	<key>˘</key>
	<string>＞</string>
	<key>¿</key>
	<string>？</string>
</dict>
</plist>
