<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>あ</key>
	<string>ア</string>
	<key>ぁ</key>
	<string>ァ</string>
	<key>い</key>
	<string>イ</string>
	<key>ぃ</key>
	<string>ィ</string>
	<key>う</key>
	<string>ウ</string>
	<key>ゔ</key>
	<string>ヴ</string>
	<key>ぅ</key>
	<string>ゥ</string>
	<key>え</key>
	<string>エ</string>
	<key>ぇ</key>
	<string>ェ</string>
	<key>お</key>
	<string>オ</string>
	<key>ぉ</key>
	<string>ォ</string>
	<key>か</key>
	<string>カ</string>
	<key>が</key>
	<string>ガ</string>
	<key>き</key>
	<string>キ</string>
	<key>ぎ</key>
	<string>ギ</string>
	<key>く</key>
	<string>ク</string>
	<key>ぐ</key>
	<string>グ</string>
	<key>け</key>
	<string>ケ</string>
	<key>げ</key>
	<string>ゲ</string>
	<key>こ</key>
	<string>コ</string>
	<key>ご</key>
	<string>ゴ</string>
	<key>さ</key>
	<string>サ</string>
	<key>ざ</key>
	<string>ザ</string>
	<key>し</key>
	<string>シ</string>
	<key>じ</key>
	<string>ジ</string>
	<key>す</key>
	<string>ス</string>
	<key>ず</key>
	<string>ズ</string>
	<key>せ</key>
	<string>セ</string>
	<key>ぜ</key>
	<string>ゼ</string>
	<key>そ</key>
	<string>ソ</string>
	<key>ぞ</key>
	<string>ゾ</string>
	<key>た</key>
	<string>タ</string>
	<key>だ</key>
	<string>ダ</string>
	<key>ち</key>
	<string>チ</string>
	<key>ぢ</key>
	<string>ヂ</string>
	<key>つ</key>
	<string>ツ</string>
	<key>づ</key>
	<string>ヅ</string>
	<key>っ</key>
	<string>ッ</string>
	<key>て</key>
	<string>テ</string>
	<key>で</key>
	<string>デ</string>
	<key>と</key>
	<string>ト</string>
	<key>ど</key>
	<string>ド</string>
	<key>な</key>
	<string>ナ</string>
	<key>に</key>
	<string>ニ</string>
	<key>ぬ</key>
	<string>ヌ</string>
	<key>ね</key>
	<string>ネ</string>
	<key>の</key>
	<string>ノ</string>
	<key>は</key>
	<string>ハ</string>
	<key>ば</key>
	<string>バ</string>
	<key>ぱ</key>
	<string>パ</string>
	<key>ひ</key>
	<string>ヒ</string>
	<key>び</key>
	<string>ビ</string>
	<key>ぴ</key>
	<string>ピ</string>
	<key>ふ</key>
	<string>フ</string>
	<key>ぶ</key>
	<string>ブ</string>
	<key>ぷ</key>
	<string>プ</string>
	<key>へ</key>
	<string>ヘ</string>
	<key>べ</key>
	<string>ベ</string>
	<key>ぺ</key>
	<string>ペ</string>
	<key>ほ</key>
	<string>ホ</string>
	<key>ぼ</key>
	<string>ボ</string>
	<key>ぽ</key>
	<string>ポ</string>
	<key>ま</key>
	<string>マ</string>
	<key>み</key>
	<string>ミ</string>
	<key>む</key>
	<string>ム</string>
	<key>め</key>
	<string>メ</string>
	<key>も</key>
	<string>モ</string>
	<key>や</key>
	<string>ヤ</string>
	<key>ゃ</key>
	<string>ャ</string>
	<key>ゆ</key>
	<string>ユ</string>
	<key>ゅ</key>
	<string>ュ</string>
	<key>よ</key>
	<string>ヨ</string>
	<key>ょ</key>
	<string>ョ</string>
	<key>ら</key>
	<string>ラ</string>
	<key>り</key>
	<string>リ</string>
	<key>る</key>
	<string>ル</string>
	<key>れ</key>
	<string>レ</string>
	<key>ろ</key>
	<string>ロ</string>
	<key>わ</key>
	<string>ワ</string>
	<key>ゎ</key>
	<string>ヮ</string>
	<key>を</key>
	<string>ヲ</string>
	<key>ん</key>
	<string>ン</string>
	<key>ー</key>
	<string>ー</string>
	<key>゛</key>
	<string>゛</string>
	<key>゜</key>
	<string>゜</string>
</dict>
</plist>
