<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>¡</key>
	<string>√</string>
	<key>™</key>
	<string>†</string>
	<key>£</key>
	<string>£</string>
	<key>¢</key>
	<string>¢</string>
	<key>∞</key>
	<string>∞</string>
	<key>§</key>
	<string>§</string>
	<key>¶</key>
	<string>¶</string>
	<key>•</key>
	<string>【</string>
	<key>ª</key>
	<string>】</string>
	<key>º</key>
	<string>０</string>
	<key>≠</key>
	<string>∧</string>
	<key>\</key>
	<string>\</string>
	<key>“</key>
	<string>∫</string>
	<key>‘</key>
	<string>［</string>
	<key>…</key>
	<string>…</string>
	<key>æ</key>
	<string>‥</string>
	<key>«</key>
	<string>］</string>
	<key>≤</key>
	<string>，</string>
	<key>≥</key>
	<string>．</string>
	<key>÷</key>
	<string>・</string>
	<key>!</key>
	<string>！</string>
	<key>&quot;</key>
	<string>”</string>
	<key>#</key>
	<string>＃</string>
	<key>$</key>
	<string>＄</string>
	<key>%</key>
	<string>％</string>
	<key>&amp;</key>
	<string>＆</string>
	<key>&apos;</key>
	<string>’</string>
	<key>(</key>
	<string>（</string>
	<key>)</key>
	<string>）</string>
	<key>,</key>
	<string>、</string>
	<key>.</key>
	<string>。</string>
	<key>:</key>
	<string>：</string>
	<key>;</key>
	<string>；</string>
	<key>&lt;</key>
	<string>＜</string>
	<key>&gt;</key>
	<string>＞</string>
	<key>?</key>
	<string>？</string>
	<key>@</key>
	<string>＠ </string>
	<key>[</key>
	<string>「</string>
	<key>]</key>
	<string>」</string>
	<key>^</key>
	<string>＾</string>
	<key>_</key>
	<string>＿</string>
	<key>`</key>
	<string>｀</string>
	<key>=</key>
	<string>＝</string>
	<key>+</key>
	<string>＋</string>
	<key>-</key>
	<string>ー</string>
	<key>*</key>
	<string>＊</string>
	<key>/</key>
	<string>／</string>
	<key>a</key>
	<string>あ</string>
	<key>ba</key>
	<string>ば</string>
	<key>bb</key>
	<string>っb</string>
	<key>be</key>
	<string>べ</string>
	<key>bi</key>
	<string>び</string>
	<key>bo</key>
	<string>ぼ</string>
	<key>bu</key>
	<string>ぶ</string>
	<key>bya</key>
	<string>びゃ</string>
	<key>bye</key>
	<string>びぇ</string>
	<key>byi</key>
	<string>びぃ</string>
	<key>byo</key>
	<string>びょ</string>
	<key>byu</key>
	<string>びゅ</string>
	<key>cc</key>
	<string>っc</string>
	<key>cha</key>
	<string>ちゃ</string>
	<key>che</key>
	<string>ちぇ</string>
	<key>chi</key>
	<string>ち</string>
	<key>cho</key>
	<string>ちょ</string>
	<key>chu</key>
	<string>ちゅ</string>
	<key>cya</key>
	<string>ちゃ</string>
	<key>cye</key>
	<string>ちぇ</string>
	<key>cyi</key>
	<string>ちぃ</string>
	<key>cyo</key>
	<string>ちょ</string>
	<key>cyu</key>
	<string>ちゅ</string>
	<key>da</key>
	<string>だ</string>
	<key>dd</key>
	<string>っd</string>
	<key>de</key>
	<string>で</string>
	<key>dha</key>
	<string>でゃ</string>
	<key>dhe</key>
	<string>でぇ</string>
	<key>dhi</key>
	<string>でぃ</string>
	<key>dho</key>
	<string>でょ</string>
	<key>dhu</key>
	<string>でゅ</string>
	<key>di</key>
	<string>ぢ</string>
	<key>do</key>
	<string>ど</string>
	<key>du</key>
	<string>づ</string>
	<key>dya</key>
	<string>ぢゃ</string>
	<key>dye</key>
	<string>ぢぇ</string>
	<key>dyi</key>
	<string>ぢぃ</string>
	<key>dyo</key>
	<string>ぢょ</string>
	<key>dyu</key>
	<string>ぢゅ</string>
	<key>e</key>
	<string>え</string>
	<key>fa</key>
	<string>ふぁ</string>
	<key>fe</key>
	<string>ふぇ</string>
	<key>ff</key>
	<string>っf</string>
	<key>fi</key>
	<string>ふぃ</string>
	<key>fo</key>
	<string>ふぉ</string>
	<key>fu</key>
	<string>ふ</string>
	<key>fya</key>
	<string>ふゃ</string>
	<key>fye</key>
	<string>ふぇ</string>
	<key>fyi</key>
	<string>ふぃ</string>
	<key>fyo</key>
	<string>ふょ</string>
	<key>fyu</key>
	<string>ふゅ</string>
	<key>ga</key>
	<string>が</string>
	<key>ge</key>
	<string>げ</string>
	<key>gg</key>
	<string>っg</string>
	<key>gi</key>
	<string>ぎ</string>
	<key>go</key>
	<string>ご</string>
	<key>gu</key>
	<string>ぐ</string>
	<key>gwa</key>
	<string>ぐぁ</string>
	<key>gwe</key>
	<string>ぐぇ</string>
	<key>gwi</key>
	<string>ぐぃ</string>
	<key>gwo</key>
	<string>ぐぉ</string>
	<key>gwu</key>
	<string>ぐぅ</string>
	<key>gya</key>
	<string>ぎゃ</string>
	<key>gye</key>
	<string>ぎぇ</string>
	<key>gyi</key>
	<string>ぎぃ</string>
	<key>gyo</key>
	<string>ぎょ</string>
	<key>gyu</key>
	<string>ぎゅ</string>
	<key>ha</key>
	<string>は</string>
	<key>he</key>
	<string>へ</string>
	<key>hh</key>
	<string>っh</string>
	<key>hi</key>
	<string>ひ</string>
	<key>ho</key>
	<string>ほ</string>
	<key>hu</key>
	<string>ふ</string>
	<key>hya</key>
	<string>ひゃ</string>
	<key>hye</key>
	<string>ひぇ</string>
	<key>hyi</key>
	<string>ひぃ</string>
	<key>hyo</key>
	<string>ひょ</string>
	<key>hyu</key>
	<string>ひゅ</string>
	<key>i</key>
	<string>い</string>
	<key>ja</key>
	<string>じゃ</string>
	<key>je</key>
	<string>じぇ</string>
	<key>ji</key>
	<string>じ</string>
	<key>jj</key>
	<string>っj</string>
	<key>jo</key>
	<string>じょ</string>
	<key>ju</key>
	<string>じゅ</string>
	<key>jya</key>
	<string>じゃ</string>
	<key>jye</key>
	<string>じぇ</string>
	<key>jyi</key>
	<string>じぃ</string>
	<key>jyo</key>
	<string>じょ</string>
	<key>jyu</key>
	<string>じゅ</string>
	<key>ka</key>
	<string>か</string>
	<key>ke</key>
	<string>け</string>
	<key>ki</key>
	<string>き</string>
	<key>kk</key>
	<string>っk</string>
	<key>ko</key>
	<string>こ</string>
	<key>ku</key>
	<string>く</string>
	<key>kwa</key>
	<string>くぁ</string>
	<key>kwe</key>
	<string>くぇ</string>
	<key>kwi</key>
	<string>くぃ</string>
	<key>kwo</key>
	<string>くぉ</string>
	<key>kwu</key>
	<string>くぅ</string>
	<key>kya</key>
	<string>きゃ</string>
	<key>kye</key>
	<string>きぇ</string>
	<key>kyi</key>
	<string>きぃ</string>
	<key>kyo</key>
	<string>きょ</string>
	<key>kyu</key>
	<string>きゅ</string>
	<key>la</key>
	<string>ら</string>
	<key>le</key>
	<string>れ</string>
	<key>li</key>
	<string>り</string>
	<key>ll</key>
	<string>っl</string>
	<key>lo</key>
	<string>ろ</string>
	<key>lu</key>
	<string>る</string>
	<key>ma</key>
	<string>ま</string>
	<key>me</key>
	<string>め</string>
	<key>mi</key>
	<string>み</string>
	<key>mm</key>
	<string>っm</string>
	<key>mo</key>
	<string>も</string>
	<key>mu</key>
	<string>む</string>
	<key>mya</key>
	<string>みゃ</string>
	<key>mye</key>
	<string>みぇ</string>
	<key>myi</key>
	<string>みぃ</string>
	<key>myo</key>
	<string>みょ</string>
	<key>myu</key>
	<string>みゅ</string>
	<key>n,</key>
	<string>ん、</string>
	<key>n-</key>
	<string>んー</string>
	<key>n.</key>
	<string>ん。</string>
	<key>n/</key>
	<string>ん／</string>
	<key>n0</key>
	<string>ん０</string>
	<key>n1</key>
	<string>ん１</string>
	<key>n2</key>
	<string>ん２</string>
	<key>n3</key>
	<string>ん３</string>
	<key>n4</key>
	<string>ん４</string>
	<key>n5</key>
	<string>ん５</string>
	<key>n6</key>
	<string>ん６</string>
	<key>n7</key>
	<string>ん７</string>
	<key>n8</key>
	<string>ん８</string>
	<key>n9</key>
	<string>ん９</string>
	<key>n:</key>
	<string>ん：</string>
	<key>n;</key>
	<string>ん；</string>
	<key>n@</key>
	<string>ん＠</string>
	<key>n[</key>
	<string>ん「</string>
	<key>n]</key>
	<string>ん」</string>
	<key>n^</key>
	<string>ん＾</string>
	<key>n_</key>
	<string>ん＿</string>
	<key>na</key>
	<string>な</string>
	<key>nb</key>
	<string>んb</string>
	<key>nc</key>
	<string>んc</string>
	<key>nd</key>
	<string>んd</string>
	<key>ne</key>
	<string>ね</string>
	<key>nf</key>
	<string>んf</string>
	<key>ng</key>
	<string>んg</string>
	<key>nh</key>
	<string>んh</string>
	<key>ni</key>
	<string>に</string>
	<key>nj</key>
	<string>んj</string>
	<key>nk</key>
	<string>んk</string>
	<key>nl</key>
	<string>んl</string>
	<key>nm</key>
	<string>んm</string>
	<key>nn</key>
	<string>ん</string>
	<key>no</key>
	<string>の</string>
	<key>np</key>
	<string>んp</string>
	<key>nq</key>
	<string>んq</string>
	<key>nr</key>
	<string>んr</string>
	<key>ns</key>
	<string>んs</string>
	<key>nt</key>
	<string>んt</string>
	<key>nu</key>
	<string>ぬ</string>
	<key>nv</key>
	<string>んv</string>
	<key>nw</key>
	<string>んw</string>
	<key>nx</key>
	<string>んx</string>
	<key>nya</key>
	<string>にゃ</string>
	<key>nye</key>
	<string>にぇ</string>
	<key>nyi</key>
	<string>にぃ</string>
	<key>nyo</key>
	<string>にょ</string>
	<key>nyu</key>
	<string>にゅ</string>
	<key>nz</key>
	<string>んz</string>
	<key>n¥</key>
	<string>ん￥</string>
	<key>o</key>
	<string>お</string>
	<key>pa</key>
	<string>ぱ</string>
	<key>pe</key>
	<string>ぺ</string>
	<key>pi</key>
	<string>ぴ</string>
	<key>po</key>
	<string>ぽ</string>
	<key>pp</key>
	<string>っp</string>
	<key>pu</key>
	<string>ぷ</string>
	<key>pya</key>
	<string>ぴゃ</string>
	<key>pye</key>
	<string>ぴぇ</string>
	<key>pyi</key>
	<string>ぴぃ</string>
	<key>pyo</key>
	<string>ぴょ</string>
	<key>pyu</key>
	<string>ぴゅ</string>
	<key>qa</key>
	<string>くぁ</string>
	<key>qe</key>
	<string>くぇ</string>
	<key>qi</key>
	<string>くぃ</string>
	<key>qo</key>
	<string>くぉ</string>
	<key>qq</key>
	<string>っq</string>
	<key>qu</key>
	<string>くぅ</string>
	<key>ra</key>
	<string>ら</string>
	<key>re</key>
	<string>れ</string>
	<key>ri</key>
	<string>り</string>
	<key>ro</key>
	<string>ろ</string>
	<key>rr</key>
	<string>っr</string>
	<key>ru</key>
	<string>る</string>
	<key>rya</key>
	<string>りゃ</string>
	<key>rye</key>
	<string>りぇ</string>
	<key>ryi</key>
	<string>りぃ</string>
	<key>ryo</key>
	<string>りょ</string>
	<key>ryu</key>
	<string>りゅ</string>
	<key>sa</key>
	<string>さ</string>
	<key>se</key>
	<string>せ</string>
	<key>sha</key>
	<string>しゃ</string>
	<key>she</key>
	<string>しぇ</string>
	<key>shi</key>
	<string>し</string>
	<key>sho</key>
	<string>しょ</string>
	<key>shu</key>
	<string>しゅ</string>
	<key>si</key>
	<string>し</string>
	<key>so</key>
	<string>そ</string>
	<key>ss</key>
	<string>っs</string>
	<key>su</key>
	<string>す</string>
	<key>swa</key>
	<string>すぁ</string>
	<key>swe</key>
	<string>すぇ</string>
	<key>swi</key>
	<string>すぃ</string>
	<key>swo</key>
	<string>すぉ</string>
	<key>swu</key>
	<string>すぅ</string>
	<key>sya</key>
	<string>しゃ</string>
	<key>sye</key>
	<string>しぇ</string>
	<key>syi</key>
	<string>しぃ</string>
	<key>syo</key>
	<string>しょ</string>
	<key>syu</key>
	<string>しゅ</string>
	<key>ta</key>
	<string>た</string>
	<key>te</key>
	<string>て</string>
	<key>tha</key>
	<string>てゃ</string>
	<key>the</key>
	<string>てぇ</string>
	<key>thi</key>
	<string>てぃ</string>
	<key>tho</key>
	<string>てょ</string>
	<key>thu</key>
	<string>てゅ</string>
	<key>ti</key>
	<string>ち</string>
	<key>to</key>
	<string>と</string>
	<key>tsa</key>
	<string>つぁ</string>
	<key>tse</key>
	<string>つぇ</string>
	<key>tsi</key>
	<string>つぃ</string>
	<key>tso</key>
	<string>つぉ</string>
	<key>tsu</key>
	<string>つ</string>
	<key>tt</key>
	<string>っt</string>
	<key>tu</key>
	<string>つ</string>
	<key>twa</key>
	<string>とぁ</string>
	<key>twe</key>
	<string>とぇ</string>
	<key>twi</key>
	<string>とぃ</string>
	<key>two</key>
	<string>とぉ</string>
	<key>twu</key>
	<string>とぅ</string>
	<key>tya</key>
	<string>ちゃ</string>
	<key>tye</key>
	<string>ちぇ</string>
	<key>tyi</key>
	<string>ちぃ</string>
	<key>tyo</key>
	<string>ちょ</string>
	<key>tyu</key>
	<string>ちゅ</string>
	<key>u</key>
	<string>う</string>
	<key>va</key>
	<string>ゔぁ</string>
	<key>ve</key>
	<string>ゔぇ</string>
	<key>vi</key>
	<string>ゔぃ</string>
	<key>vo</key>
	<string>ゔぉ</string>
	<key>vu</key>
	<string>ゔ</string>
	<key>vv</key>
	<string>っv</string>
	<key>wa</key>
	<string>わ</string>
	<key>we</key>
	<string>うぇ</string>
	<key>wha</key>
	<string>うぁ</string>
	<key>whe</key>
	<string>うぇ</string>
	<key>whi</key>
	<string>うぃ</string>
	<key>who</key>
	<string>うぉ</string>
	<key>whu</key>
	<string>う</string>
	<key>wi</key>
	<string>うぃ</string>
	<key>wo</key>
	<string>を</string>
	<key>wu</key>
	<string>う</string>
	<key>ww</key>
	<string>っw</string>
	<key>xa</key>
	<string>ぁ</string>
	<key>xe</key>
	<string>ぇ</string>
	<key>xi</key>
	<string>ぃ</string>
	<key>xo</key>
	<string>ぉ</string>
	<key>xtu</key>
	<string>っ</string>
	<key>xu</key>
	<string>ぅ</string>
	<key>xx</key>
	<string>っx</string>
	<key>xya</key>
	<string>ゃ</string>
	<key>xye</key>
	<string>ぇ</string>
	<key>xyi</key>
	<string>ぃ</string>
	<key>xyo</key>
	<string>ょ</string>
	<key>xyu</key>
	<string>ゅ</string>
	<key>xwa</key>
	<string>ゎ</string>
	<key>ya</key>
	<string>や</string>
	<key>ye</key>
	<string>いぇ</string>
	<key>yi</key>
	<string>い</string>
	<key>yo</key>
	<string>よ</string>
	<key>yu</key>
	<string>ゆ</string>
	<key>yy</key>
	<string>っy</string>
	<key>za</key>
	<string>ざ</string>
	<key>ze</key>
	<string>ぜ</string>
	<key>zi</key>
	<string>じ</string>
	<key>zo</key>
	<string>ぞ</string>
	<key>zu</key>
	<string>ず</string>
	<key>zya</key>
	<string>じゃ</string>
	<key>zye</key>
	<string>じぇ</string>
	<key>zyi</key>
	<string>じぃ</string>
	<key>zyo</key>
	<string>じょ</string>
	<key>zyu</key>
	<string>じゅ</string>
	<key>zz</key>
	<string>っz</string>
	<key>{</key>
	<string>『</string>
	<key>|</key>
	<string>｜</string>
	<key>}</key>
	<string>』</string>
	<key>~</key>
	<string>〜</string>
	<key>¥</key>
	<string>￥</string>
</dict>
</plist>
